@font-face {
  font-family: "NeueBit";
  src: url("./PPNeueBit-Bold.woff");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("./PPMondwest-Regular.woff");
}
@font-face {
  font-family: "GroteskX";
  src: url("./founders-grotesk-x-condensed-semibold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scrollbar-width: none;
}

:root {
  --bg-opacity: 0.18;
  --transition: 300ms cubic-bezier(0.2, 0.9, 0.3, 1);
  --color-html: #e44d26;
  --color-css: #297de3;
  --color-scss: #cd6799;
  --color-tailwind: #38bdf8;
  --color-js: #d7be00;
  --color-react: #61dafb;
  --color-gsap: #88ce02;
  --color-figma: #ff0400;
}

.view1 {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.view1 h1 {
  font-family: "NeueBit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  line-height: 0.75;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .view1 h1 {
    font-size: 8rem;
  }
}
@media (min-width: 1024px) {
  .view1 h1 {
    font-size: 11.25rem;
  }
}
.view1 .subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.view1 .subheading h2 {
  font-family: "NeueBit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .view1 .subheading h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .view1 .subheading h2 {
    font-size: 6rem;
  }
}
.view1 .subheading h3 {
  padding-top: 1rem;
  font-family: "NeueMontreal", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .view1 .subheading h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  .view1 .subheading h3 {
    font-size: 2rem;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding: 1.5rem 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.5s;
}
header .logo {
  font-family: "GroteskX";
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 75%;
}
header nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
header nav ul a {
  color: black;
  font-family: "NeueBit";
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header .right a {
  font-family: "NeueBit";
  text-decoration: none;
  font-size: 2rem;
  color: red;
  padding-right: 13px;
}
header .hamburger {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 1100;
}
@media (max-width: 767px) {
  header .hamburger {
    display: block;
  }
}
header .hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #333;
  margin: 6px 0;
  border-radius: 2px;
  transition: all 0.3s;
}

header.mobile-nav-active nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  background: #eeeeee;
  z-index: 1000;
  padding: 1rem 0;
}
header.mobile-nav-active nav ul a {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  color: #222;
}

header.active {
  top: -80px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 90px 230px;
}
.about-container h2 {
  font-size: 2.5rem;
  font-family: "NeueMontreal";
  line-height: 120%;
  width: 40rem;
}
.about-container .right {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}
.about-container .right h3 {
  font-size: 1.25rem;
  font-family: "NeueMontreal";
  line-height: 140%;
  width: 15.68rem;
}
.about-container .right button {
  font-family: "NeueBit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  height: 10.9375rem;
  width: 10.9375rem;
  border-radius: 10rem;
  border: none;
  color: #eeeeee;
  background-color: #02010a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.about-container .right button:hover {
  background-color: #ff0d35;
}

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    padding: 40px 20px;
  }
  .about-container h2,
  .about-container .right h3 {
    width: 100%;
  }
}
.recent-work {
  padding: 0 115px;
}
.recent-work .tagger {
  font-family: "NeueBit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.156rem;
  text-transform: uppercase;
  padding: 0 115px 3rem 115px;
  border-bottom: 1px solid #02010a;
}
.recent-work .project-lists {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 115px;
  border-bottom: 1px solid #02010a;
}
.recent-work .project-lists h1 {
  font-family: "NeueBit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6.8rem;
  line-height: 1;
  position: relative;
  top: -0.5rem;
  text-transform: uppercase;
}
.recent-work .project-lists h2 {
  font-size: 1.25rem;
  font-family: "NeueMontreal", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 768px) {
  .recent-work {
    padding: 0 20px;
  }
  .recent-work .project-lists {
    padding: 2rem 10px;
    flex-direction: column;
    gap: 2rem;
  }
}
.tech-list {
  gap: 12px;
  margin-top: 1rem;
}

.tech-item {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform var(--transition), background var(--transition), color var(--transition);
}
.tech-item:hover, .tech-item.show-bg {
  transform: translateY(-4px);
}
.tech-item .bg-image {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.06);
  transition: opacity var(--transition), transform var(--transition);
}
.tech-item.show-bg .bg-image {
  opacity: var(--bg-opacity);
}
.tech-item span:not(.bg-image) {
  position: relative;
  z-index: 1;
}
.tech-item[data-tech=html]:hover, .tech-item[data-tech=html].show-bg {
  color: var(--color-html);
}
.tech-item[data-tech=css]:hover, .tech-item[data-tech=css].show-bg {
  color: var(--color-css);
}
.tech-item[data-tech=scss]:hover, .tech-item[data-tech=scss].show-bg {
  color: var(--color-scss);
}
.tech-item[data-tech=tailwind]:hover, .tech-item[data-tech=tailwind].show-bg {
  color: var(--color-tailwind);
}
.tech-item[data-tech=js]:hover, .tech-item[data-tech=js].show-bg {
  color: var(--color-js);
}
.tech-item[data-tech=react]:hover, .tech-item[data-tech=react].show-bg {
  color: var(--color-react);
}
.tech-item[data-tech=gsap]:hover, .tech-item[data-tech=gsap].show-bg {
  color: var(--color-gsap);
}
.tech-item[data-tech=figma]:hover, .tech-item[data-tech=figma].show-bg {
  color: var(--color-figma);
}

@media (max-width: 640px) {
  .tech-item {
    padding: 10px 14px;
    font-size: 15px;
  }
}
.tech-item {
  background-image: url(./figma-icon.svg);
}