// -------------------------------------------------
// Variables
// -------------------------------------------------
$color-bg: #eeeeee;

// Font Families
$font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-neuebit: "NeueBit", $font-primary;
$font-neuemontreal: "NeueMontreal", $font-primary;

// Typography Sizes
$h1-mobile: 4rem;
$h1-tablet: 8rem;
$h1-desktop: 11.25rem;
$h2-mobile: 3rem;
$h2-tablet: 4rem;
$h2-desktop: 6rem;
$h3-mobile: 1rem;
$h3-tablet: 1.4rem;
$h3-desktop: 2rem;

// -------------------------------------------------
// Mixins
// -------------------------------------------------
@mixin responsive-typography($mobile-size, $tablet-size, $desktop-size) {
  font-size: $mobile-size;
  @media (min-width: 768px) {
    font-size: $tablet-size;
  }
  @media (min-width: 1024px) {
    font-size: $desktop-size;
  }
}

// -------------------------------------------------
// Font Faces
// -------------------------------------------------
@font-face {
  font-family: "NeueBit";
  src: url("./PPNeueBit-Bold.woff");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("./PPMondwest-Regular.woff");
}
@font-face {
  font-family: "GroteskX";
  src: url("./founders-grotesk-x-condensed-semibold.ttf");
}

// -------------------------------------------------
// Global Reset & Root
// -------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: $font-primary;
  scrollbar-width: none;
}
:root {
  --bg-opacity: 0.18;
  --transition: 300ms cubic-bezier(0.2, 0.9, 0.3, 1);
  --color-html: #e44d26;
  --color-css: #297de3;
  --color-scss: #cd6799;
  --color-tailwind: #38bdf8;
  --color-js: #d7be00;
  --color-react: #61dafb;
  --color-gsap: #88ce02;
  --color-figma: #ff0400;
}

// -------------------------------------------------
// Layout: View 1 Section
// -------------------------------------------------
.view1 {
  background-color: $color-bg;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $font-neuebit;
    text-transform: uppercase;
    line-height: 0.75;
    @include responsive-typography($h1-mobile, $h1-tablet, $h1-desktop);
  }
  .subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    h2 {
      font-family: $font-neuebit;
      text-transform: uppercase;
      @include responsive-typography($h2-mobile, $h2-tablet, $h2-desktop);
    }
    h3 {
      padding-top: 1rem;
      font-family: $font-neuemontreal;
      @include responsive-typography($h3-mobile, $h3-tablet, $h3-desktop);
    }
  }
}

// -------------------------------------------------
// Layout: Header (Navbar)
// -------------------------------------------------
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding: 1.5rem 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  transition: 0.5s;

  .logo {
    font-family: "GroteskX";
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 75%;
  }

  nav {
    ul {
      display: flex;
      gap: 3rem;
      list-style: none;
      a {
        color: black;
        font-family: "NeueBit";
        text-decoration: none;
        font-size: 2rem;
      }
    }
    @media (max-width: 767px) {
      ul {
        display: none;
      }
    }
  }
  .right a {
    font-family: "NeueBit";
    text-decoration: none;
    font-size: 2rem;
    color: red;
    padding-right: 13px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 1100;
    @media (max-width: 767px) {
      display: block;
    }
    span {
      display: block;
      height: 4px;
      width: 100%;
      background: #333;
      margin: 6px 0;
      border-radius: 2px;
      transition: all 0.3s;
    }
  }
}
header.mobile-nav-active {
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    background: $color-bg;
    z-index: 1000;
    padding: 1rem 0;
    a {
      font-size: 2.5rem;
      padding: 1rem 2rem;
      color: #222;
    }
  }
}
header.active {
  top: -80px;
}

// -------------------------------------------------
// Layout: About Section
// -------------------------------------------------
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 90px 230px;
  h2 {
    font-size: 2.5rem;
    font-family: "NeueMontreal";
    line-height: 120%;
    width: 40rem;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    h3 {
      font-size: 1.25rem;
      font-family: "NeueMontreal";
      line-height: 140%;
      width: 15.68rem;
    }
    button {
      font-family: $font-neuebit;
      font-size: 1.5rem;
      height: 10.9375rem;
      width: 10.9375rem;
      border-radius: 10rem;
      border: none;
      color: #eeeeee;
      background-color: #02010a;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #ff0d35;
      }
    }
  }
}
@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    padding: 40px 20px;
  }
  .about-container h2,
  .about-container .right h3 {
    width: 100%;
  }
}

// -------------------------------------------------
// Layout: Recent Work Section
// -------------------------------------------------
.recent-work {
  padding: 0 115px;
  .tagger {
    font-family: $font-neuebit;
    font-size: 1.156rem;
    text-transform: uppercase;
    padding: 0 115px 3rem 115px;
    border-bottom: 1px solid #02010a;
  }
  .project-lists {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 115px;
    border-bottom: 1px solid #02010a;
    h1 {
      font-family: $font-neuebit;
      font-size: 6.8rem;
      line-height: 1;
      position: relative;
      top: -0.5rem;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1.25rem;
      font-family: $font-neuemontreal;
    }
  }
}
@media (max-width: 768px) {
  .recent-work {
    padding: 0 20px;
  }
  .recent-work .project-lists {
    padding: 2rem 10px;
    flex-direction: column;
    gap: 2rem;
  }
}

// -------------------------------------------------
// Tech List Section
// -------------------------------------------------
.tech-list {
  gap: 12px;
  margin-top: 1rem;
}
.tech-item {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;

  gap: 8px;
  padding: 0 5px;
  cursor: pointer;
  user-select: none;
  transition: transform var(--transition), background var(--transition), color var(--transition);

  &:hover,
  &.show-bg {
    transform: translateY(-4px);
  }

  .bg-image {
    position: absolute;

    inset: 0;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    pointer-events: none;
    transform: scale(1.06);
    transition: opacity var(--transition), transform var(--transition);
  }
  &.show-bg .bg-image {
    opacity: var(--bg-opacity);
  }
  span:not(.bg-image) {
    position: relative;
    z-index: 1;
  }
  &[data-tech="html"]:hover,
  &[data-tech="html"].show-bg { color: var(--color-html);}
  &[data-tech="css"]:hover,
  &[data-tech="css"].show-bg { color: var(--color-css);}
  &[data-tech="scss"]:hover,
  &[data-tech="scss"].show-bg { color: var(--color-scss);}
  &[data-tech="tailwind"]:hover,
  &[data-tech="tailwind"].show-bg { color: var(--color-tailwind);}
  &[data-tech="js"]:hover,
  &[data-tech="js"].show-bg { color: var(--color-js);}
  &[data-tech="react"]:hover,
  &[data-tech="react"].show-bg { color: var(--color-react);}
  &[data-tech="gsap"]:hover,
  &[data-tech="gsap"].show-bg { color: var(--color-gsap);}
  &[data-tech="figma"]:hover,
  &[data-tech="figma"].show-bg { color: var(--color-figma);}
}
@media (max-width: 640px) {
  .tech-item {
    padding: 10px 14px;
    font-size: 15px;
  }
}


.tech-item{
  background-image: url(./figma-icon.svg);
    
}
